.todo-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:90%;
    margin-top: 15px;
}

.label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #86ccf4;
    width: 90%;
    height:50px;
    border: 5px solid #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.delete-update-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:10%;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 35%;
    cursor:pointer;
}
.delete-icon-container :hover{
    background-color: lightgray;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;

}

.delete-icon {
    padding: 13px;
}

.checked {
    text-decoration: line-through;
}

.button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    cursor:pointer;
}