.todos-bg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9fbfe;
    min-height: 100vh;
    width:100vw;
}

.con{
    display: flex;
    flex-direction: column;
    width:80%;
}

.todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.todos-user-input-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
}

.todo-radio-select-con{
    width:60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.todo-radio-con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width:60%;
}

.each-radio-con{
    display: flex;
    align-items: center;
    width:100%;
}

.todo-select-con{
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.form-control{
    margin-top:10px;
}


.create-task-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.create-task-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.search-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:25%;
    background-color: lightgrey;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border:1px solid #1a4a89;
}

.input-search{
    font-size:15px;
    margin-top: 10px;
    padding: 15px;
    width:88%;
    border:none;
    outline:none;
    background: transparent;
}

.search-icon{
    cursor:pointer;
    width:28%;
}

.todo-items-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.todo-items-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.todo-items-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}

.todo-user-input {
    background-color: white;
    width: 100%;
    border:1px solid #1a4a89;
    outline:none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

.button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor:pointer; 
}

.label-container {
    background-color: #e6f6ff;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.delete-icon {
    padding: 15px;
}

.checked {
    text-decoration: line-through;
}